@inject CSharpSyntaxHighlighter SyntaxHighlighter

<div class="code-block max-w-full">
    @if(!string.IsNullOrEmpty(Title))
    {
        <div class="code-block-header @(Highlight ? "bg-green-800/50" : "")">
            <span class="px-2 text-xs @(Highlight ? "text-green-400" : "text-gray-400")">● @Title</span>
        </div>
    }
    <div class="code-block-vscode max-h-150 overflow-y-auto">
        <pre><code>@((MarkupString)HighlightedCode)</code></pre>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public string Code { get; set; } = "";
    [Parameter] public string Size { get; set; } = "sm";
    [Parameter] public bool Highlight { get; set; } = false;

    private string HighlightedCode => SyntaxHighlighter.Highlight(Code);
}
