<div class="flex h-screen w-full flex-col items-center justify-center">
    <div class="mb-4 flex items-center justify-center">
        <span class="inline-block h-24 w-24 rounded-full border-8 border-t-8 border-gray-200 border-t-blue-500 animate-spin"></span>
    </div>
    <h2 class="text-center text-xl">Loading Required Assemblies...</h2>
</div>