@inherits LayoutComponentBase
<div class="flex flex-col h-screen w-screen bg-gray-900">
    <header class="flex items-center justify-between px-4 py-3 h-12 bg-gradient-to-r from-cyan-950 to-cyan-700 text-white shadow-md z-50">
        <a href="/" class="flex items-center gap-2 hover:opacity-90 transition-opacity">
            <img src="linqraft.png" alt="Linqraft Logo" class="h-6 w-6"/>
            <span class="text-xl font-semibold">Linqraft</span>
        </a>
        <nav class="flex gap-6">
            <a href="/playground" class="text-white opacity-90 hover:opacity-100 hover:underline transition-opacity">Playground</a>
            <a href="https://github.com/arika0093/Linqraft" target="_blank" class="text-white opacity-90 hover:opacity-100 hover:underline transition-opacity">GitHub</a>
            <a href="https://github.com/arika0093/Linqraft/README.md" target="_blank" class="text-white opacity-90 hover:opacity-100 hover:underline transition-opacity">Docs</a>
        </nav>
    </header>
    <main class="flex-1 overflow-y-auto">
        @Body
    </main>
</div>
