name: .NET Build and Test

on:
  workflow_dispatch:
  push:
    branches-ignore:
      - release/*
    paths:
      - '**.csproj'
      - '**.cs'
      - '**./Directories.Build.props'
      - '.github/workflows/test.yaml'

env:
  DOTNET_VERSION: '10.0.x'

jobs:
  build:
    strategy:
      matrix:
        # drop windows because setup-dotnet on windows has too slow performance...
        # os: [ubuntu-latest, windows-latest]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
          cache: true
          cache-dependency-path: '**/packages.lock.json'

      - name: Restore dependencies
        run: dotnet restore --locked-mode

      - name: Build
        run: dotnet build --no-restore

      - name: Run tests
        run: dotnet test --no-build --verbosity normal --logger GitHubActions